<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
          <title>Bootstrap Example</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
          <script src="js/angular.min.js"></script>
          <script src="https://code.angularjs.org/1.7.0-rc.0/angular-messages.min.js"></script>
          <script src="https://code.angularjs.org/1.7.0-rc.0/angular-resource.min.js"></script>
          <script src="js/app.js"></script>
    </head>
 
    <body>
        <div class="container">
          <h2>AngularJS</h2>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Services</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link1</a>
                <a class="dropdown-item" href="#">Link2</a>
                <a class="dropdown-item" href="#">Link3</a></div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Register</a>
            </li>
          </ul>
            <div ng-controller="mainCtrl">
                <h1>Login</h1>
               <!-- <h2>Hello {{ name + ' How are you?' }}</h2>-->
             
            <!--<form name="myForm">
                <div class="form-group">
                  <label for="usr">Email:</label>
                  <input class ="form-control" type="email" ng-model="field" name="usr" required maxlength="25" id="usr"/>
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                
                <div ng-messages="myForm.usr.$error" role="alert">
                  <div class="alert alert-danger" ng-message="required">Please enter a value for this field.</div>
                  <div class="alert alert-danger" ng-message="email">This field must be a valid email address.</div>
                  <div class="alert alert-danger" ng-message="maxlength">This field can be at most 25 characters long.</div>
                </div>
            </form> --> 
            
            <input type="text" name="handledBy" class="form-control" ng-model="handle" />
				<hr/>
			<div class="alert" 
				 ng-class="{ 
							 'alert-warning':handle.length < characters , 
							 'alert-danger':handle.length > characters
						   }" 
				 ng-show="handle.length!==characters">
				
				<div ng-show="handle.length < characters ">
					<strong>Message</strong> You have less than 10 Characters 
				</div>
				
				<div ng-show="handle.length > characters ">
					<strong>Message</strong>  You have more than 10 Characters 
				</div>
				
			 </div>
				
			 <!--<div class="alert alert-danger" ng-if="handle.length!==characters">
				<strong>Danger!</strong> Mobile number should be 10 digit long.
			 </div>-->
            
            <!--Twitter Handled By {{ lowercaseHandel() }}-->
        </div>
   </body>
</html>
